/* ======= Background Colors ======= */
$button-bg: #c85cce;
$main-bg: #1e1e2a;
$error-bg: #d61616;
$data-bg: #27293b;

/* ======= Colors ======= */
$white: #ffffff;
$header: #2a2b46;
$input-border: #2d3651;
$input-placeholder: #656b72;
$input-outline: #c55cd1;

/* ======= Font Sizes ======= */
$header-font-size: 24px;
$text-font-size: 16px;
$description-font-size: 20px;
$small-font-size: 12px;
